.modal {
  background: #fff;
  box-shadow: 0.4375rem 0.5rem 0rem 0rem #154580;
  min-width: 22.5rem;
  min-height: 9.375rem;
  position: fixed;
  left: 50%;
  padding: 1.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3.125rem;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1.875rem;
}

.botao {
  margin: 0.3125rem;
  margin-top: 4.375rem;
  width: 12.5rem;
}

.botao-cancelar {
  border: none;
  cursor: pointer;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
}

.botao-excluir {
  border: none;
  cursor: pointer;
  margin-left: 0.3125rem;
  margin-top: 0.625rem;
}

.excluir-pensamentos {
  padding: 10rem 0;
}

@media screen and (max-width: 34.25rem) {
  .modal {
    width: 90%;
    min-width: 90%;
    padding: 3.125rem 0.75rem 1.5rem;
    font-size: 1.2rem;
  }
}
